<template>
  <v-dialog v-model="dialog" persistent max-width="900px">
    <!-- <v-btn small class="mr-2" flat icon slot="activator">
      <v-icon small>delete</v-icon>
    </v-btn> -->
    <v-card>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12>
            <img src="/images/logo_black_sm.png" style="height: 120px; float: left; position: absolute; top: 0;" />
            <h1 class="red--text text-xs-center">DANGEROUS GOODS</h1>
          </v-flex>
        </v-layout>                
        <v-layout>
          <v-flex xs12 class="text-center">
            <p class="text-xs-center">
              <br />
              THESE ITEMS ARE NOT ALLOWED IN PACKAGES BEING SHIPPED<br />
              BY ECONOMY OR PREMIUM MAIL<br />
              <img src="/images/dangerous.jpg" style="width: 100%"/>
            </p>
            <!-- <p>
              Miscellaneous dangerous goods
              | Compressed gas
              | Radioactive materials 
              | Flammable liquids,
              Poisonous substances | 
              Flammable solids | 
              Infectious substances, 
              Oxidising materials | 
              Corrosives, Explosives and firearms
            </p> -->
            <p class="text-xs-center">
              <strong>Households Items such as:</strong><br />
              bleaches, drain cleaners, solvents, foods and perishable goods, 
              money or any means of payment, medicines, drugs and jewelry
            </p>
            <p class="text-xs-center">
              <strong>NO Flammable Liquids such as:</strong><br />
              fuel, paints, solvents, adhesives, alcoholic beverages, 
              flammable gases such as lighter refills
            </p>
            <p class="text-xs-center">
              <strong>NO Fireworks or Weapons such as:</strong><br />
              guns, signal flares, crossbows, ammunition and any weapon accessories
            </p>
            <p class="text-xs-center">
              <strong>NO Other Hazardous Materials such as:</strong><br />
              strike-anywhere matches, gasoline-powered tools, spray cans, self-inflating rafts, 
              wet-cell batteries, poisons, infectious substances, mace and pepper spray.
            </p>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-layout>
          <v-flex class="text-xs-center">
            <v-btn class="green" @click="dialog = false">I agree</v-btn>
          </v-flex>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "allowedGoods",
  components: {},
  data() {
    return {
      dialog: false,
      valid: true,
    };
  },
  filters: {},
  watch: {},
  methods: {
    showDialog() {
      this.dialog = true;
    },
  },
  computed: {},
  mounted() {},
  created() {}
};
</script>