<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-btn small class="mr-2" flat icon slot="activator">
      <v-icon small>delete</v-icon>
    </v-btn>
    <v-card>
      <v-card-title>
        <span class="headline">Specify the reason:</span>
      </v-card-title>
      <v-form v-model="valid" ref="form">
        <v-card-text>
            <v-container grid-list-md>
            <v-layout wrap>
                <v-flex xs12>
                    <v-textarea
                        v-model="status.comment"
                        label="Comment"
                        required
                        :rules="commentRules"
                    ></v-textarea>
                </v-flex>
            </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-btn :class="{ red: !valid, green: valid }" @click="deleteParcel()">Save</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="cancel()">Cancel</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "deleteParcel",
  components: {},
  props: ["parcel"],
  data() {
    return {
      dialog: false,
      valid: false,
      commentRules: [
        v => !!v || "Comment is required",
      ],
      status: {
          name: '',
          comment: ''
      },
    };
  },
  filters: {},
  watch: {},
  methods: {
      deleteParcel() {
          if (this.$refs.form.validate()) {
            this.status.name = "Rejected";
            axios.post('parcel/change-status', {
                parcel: this.parcel,
                status: this.status,
            })
            .then(response => {
              console.log(response.data);
              if(response.data.status == 'success') {
                this.$router.push({path: "/parcels/rejected"});
                this.dialog = false;
                this.$refs.form.reset();
              }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
        }
      },
      cancel() {
        this.$refs.form.reset();
        this.dialog = false;
      }
  },
  computed: {},
  mounted() {},
  created() {}
};
</script>