<template>
    <v-dialog v-model="dialog"  fullscreen hide-overlay  transition="dialog-bottom-transition" scrollable>
        <v-btn small class="mr-2" flat icon slot="activator">
            <v-icon small >remove_red_eye</v-icon>
        </v-btn>
        <v-card v-bind:style="'height: min-content;'">
          <v-toolbar dark color="blue-grey darken-2" >
            <v-btn icon dark @click="dialog = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Parcel details</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn class="mr-2" flat icon @click="switchToForm()">
                <v-icon>edit</v-icon>
            </v-btn>
            <v-btn class="mr-2" flat icon @click="print()">
                <v-icon>print</v-icon>
            </v-btn>
            <v-btn class="mr-2" flat icon @click="download()">
                <v-icon>save</v-icon>
            </v-btn>
          </v-toolbar>
      <v-container v-if="!updateMode">
        <v-layout>
          <v-flex xs12 sm6>
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h5>Sender</h5>
                  <h3 class="headline mb-0">{{sender.last_name}} {{sender.first_name}}</h3>
                  <div>
                      Company name: {{sender.company_name}} <br>
                      Address: {{sender.country}} {{sender.state}} {{sender.zip_code}} {{sender.city}} {{sender.address}} <br>
                      Phone number: {{sender.phone_number}} <br>
                      Email: {{sender.email}} <br>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card>
              <v-card-title primary-title>
                <div>
                  <h5>Recipient</h5>
                  <h3 class="headline mb-0">{{recipient.last_name}} {{recipient.first_name}}</h3>
                  <div>
                      Company name: {{recipient.company_name}} <br>
                      Address: {{recipient.country}} {{recipient.state}} {{recipient.zip_code}} {{recipient.city}} {{recipient.street}} {{recipient.building}} {{recipient.house_number}} <br>
                      Phone number: {{recipient.phone_number}} <br>
                      Email: {{recipient.email}} <br>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container v-if="updateMode">
        <v-form v-model="valid" ref="form">
          <v-card>
            <v-card-title primary-title>
              <v-layout>
                <v-flex xs12 sm6>
                  <div>
                    <h3>Sender</h3>
                    <v-layout>
                      <v-flex xs12 sm6>
                        <v-text-field label="First name" v-model="sender.first_name" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Last name" v-model="sender.last_name" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Street" v-model="sender.street" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Building" v-model="sender.building" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="House number" v-model="sender.house_number" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="Zip code" mask="##-###" v-model="sender.zip_code" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="City" v-model="sender.city" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="State" v-model="sender.state" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="Country" v-model="sender.country" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md6>
                        <v-text-field label="Phone number" v-model="sender.phone_number" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-flex>
                <v-flex xs12 sm6>
                  <div>
                    <h3>Recipient</h3>
                    <v-layout>
                      <v-flex xs12 sm6>
                        <v-text-field label="First name" v-model="recipient.first_name" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Last name" v-model="recipient.last_name" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Street" v-model="recipient.street" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Building" v-model="recipient.building" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="House number" v-model="recipient.house_number" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="Zip code" mask="##-###" v-model="recipient.zip_code" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="City" v-model="recipient.city" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="State" v-model="recipient.state" :rules="inputRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field label="Country" v-model="recipient.country" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs12 sm6 md6>
                        <v-text-field label="Phone number" v-model="recipient.phone_number" :rules="inputRules" required></v-text-field>
                      </v-flex>
                    </v-layout>
                    <v-card-actions>
                      <v-btn @click="update" :class="{ red: !valid, green: valid }">Save</v-btn>
                      <v-btn @click="cancel">Cancel</v-btn>
                    </v-card-actions>
                  </div>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-form>
      </v-container>
      <v-container>
        <v-list three-line subheader>
          <v-subheader><h3>Parcel data</h3></v-subheader>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ parcel.shipment ? parcel.shipment.type : 'Large' }}
                {{ parcel.shipment ? parcel.shipment.name : 'Package' }}
              </v-list-tile-title>
              <v-list-tile-sub-title>
                  {{parcel.country.name}} ${{parcel.payment}}
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>Measurements</v-list-tile-title>
              <v-list-tile-sub-title>
                  Weight {{parcel.weight}} lbs <br>
                  Width  {{parcel.width}}  in <br>
                  Height {{parcel.height}} in <br>
                  Length {{parcel.length}} in <br>
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title> <h3>Products</h3> </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-data-table :headers="headers" :items="JSON.parse(parcel.products)" class="elevation-1">
            <template slot="items" slot-scope="props">
            <td class="text-xs-center">{{ props.item.description }}</td>
            <td class="text-xs-center">{{ props.item.quantity }}</td>
            </template>
        </v-data-table>
        <v-divider></v-divider>
      </v-container>
      <v-divider></v-divider>
    </v-card>

    <loading v-bind:loading="loading" ></loading>

  </v-dialog>
</template>

<script>
import printJS from 'print-js';
import loading from "@/js/components/loading";

export default {
  name: "ShowParcel",
  components: {
    loading
  },
  props: ['parcel'],
  data() {
    return {
      dialog: false,
      valid: false,
      validate: false,
      updateMode: false,
      sender: {
        last_name: "",
        first_name: "",
        zip_code: "",
        city: "",
        street: "",
        building: "",
        house_number: "",
        state: "",
        country: "",
        phone_number: "",
      },
      recipient: {
        last_name: "",
        first_name: "",
        zip_code: "",
        city: "",
        street: "",
        building: "",
        house_number: "",
        state: "",
        country: "",
        phone_number: "",
      },
      originalSender: null,
      originalRecipient: null,
      inputRules: [
        v => !!v || "Field is required"
      ],
      headers: [
        {
          text: "Description",
          align: "center",
          sortable: true,
          value: "description"
        },{
          text: "Quantity",
          align: "center",
          sortable: true,
          value: "quantity"
        },
      ],
      loading: false,
      success: false,
      snackbar: false,
      snackbarText: 'Fill in all required fields',
    };
  },
  filters: {},
  watch: {},
  methods: {
    print() {
      this.loading = true;
        axios({
          method: 'get',
          url: '/print/parcel/' + this.parcel.id,
          responseType: 'blob'
        })
        .then(response => {
            const file = new Blob([response.data], { type: "application/pdf" });
            const url = URL.createObjectURL(file);
            printJS(url);
            this.loading = false;
        })
        .catch(error => {
          console.log(error);
          this.loading = false;
        });
    },
    download() {
      this.loading = true;
      axios({
        method: 'get',
        url: '/print/parcel/' + this.parcel.id,
        responseType: 'blob'
      })
      .then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'file.pdf'); //or any other extension
        document.body.appendChild(link);
        link.click();
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
        this.loading = false;
      });
    },
    switchToForm() {
      this.updateMode = true;
    },
    cancel() {
      this.sender = Object.assign({}, this.originalSender);
      this.recipient = Object.assign({}, this.originalRecipient);
      this.updateMode = false;
    },
    init() {
      this.sender = this.parcel.sender;
      this.recipient = this.parcel.recipient;
      this.originalSender = Object.assign({}, this.sender);
      this.originalRecipient = Object.assign({}, this.recipient);
    },
    update() {
      this.validate = this.$refs.form.validate();
      if (this.validate) {
        this.loading = true;
        var route = "/parcel/update-customers";
        axios
          .post(route, {
            sender: this.sender,
            recipient: this.recipient
          })
          .then(response => {
            this.loading = false;
            if (response.data.status === 'success') {
              this.originalSender = Object.assign({}, this.sender);
              this.originalRecipient = Object.assign({}, this.recipient);
              this.updateMode = false;
              this.print();
            } else {
              console.log(response.data);
              this.snackbar = true;
              this.snackbarText = response.data.msg;
            }
          })
          .catch(e => {
            console.log(e.response);
            this.loading = false;
            this.errorAlert = true;
            this.errors = e.response.data.errors;
            this.snackbar = true;
          });
      }
       if(!this.validate) {
        this.snackbar = true;
      }
    },
  },
  computed: {},
  mounted() {
    this.init();
  },
};
</script>