<template>
    <div>

        <v-list-tile :to="{name: 'users'}">
            <v-list-tile-action> 
            <v-icon>supervisor_account</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
            <v-list-tile-title>Users</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-group prepend-icon="open_with">
            <v-list-tile slot="activator">
                <v-list-tile-title>Parcels</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'countries'}">
                <v-list-tile-action>
                <v-icon>map</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Countries</v-list-tile-title>
            </v-list-tile>
            
            <v-list-tile :to="{name: 'shipment'}">
                <v-list-tile-action>
                <v-icon>local_shipping</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Shipment</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'currentParcels'}">
                <v-list-tile-action>
                <v-icon>local_shipping</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View all parcels</v-list-tile-title>
            </v-list-tile>

        </v-list-group>

        <v-list-tile :to="{name: 'settings', params: {clientId: $auth.user().user.client_id}}">
            <v-list-tile-action> 
            <v-icon>settings</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

    </div>
</template>

<script>
export default {
    name: 'SuperAdminMenu',
        data() {
            return {

            };
        },
        filters: {

        },
        watch: {

        },
        methods: {

        },
        computed: {

        },
        mounted() {

        }
    };
</script>