<template>
    <div>
        <v-list-tile :to="{name: 'clients'}">
            <v-list-tile-action> 
                <v-icon>recent_actors</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>Clients</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile :to="{name: 'users'}">
            <v-list-tile-action> 
                <v-icon>supervisor_account</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>Users</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-group prepend-icon="open_with">
            <v-list-tile slot="activator">
                <v-list-tile-title>Parcels</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'currentParcels'}">
                <v-list-tile-action>
                    <v-icon>date_range</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View current</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'sentParcels'}">
                <v-list-tile-action>
                    <v-icon>redo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View sent</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'sentByAdminParcels'}">
                <v-list-tile-action>
                    <v-icon>redo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View sent by Admin</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'deliveredParcels'}">
                <v-list-tile-action>
                    <v-icon>redo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View delivered</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'receivedParcels'}">
                <v-list-tile-action>
                    <v-icon>undo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View received</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'rejectedParcels'}">
                <v-list-tile-action>
                    <v-icon>block</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View rejected</v-list-tile-title>
            </v-list-tile>
        </v-list-group>

        <v-list-tile :to="{name: 'countries'}">
            <v-list-tile-action>
                <v-icon>map</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Countries</v-list-tile-title>
        </v-list-tile>

        <v-list-tile :to="{name: 'shipment'}">
            <v-list-tile-action>
                <v-icon>local_shipping</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Shipment</v-list-tile-title>
        </v-list-tile>

    </div>
</template>

<script>
export default {
    name: 'SuperAdminMenu',
        data() {
            return {

            };
        },
        filters: {

        },
        watch: {

        },
        methods: {

        },
        computed: {

        },
        mounted() {

        }
    };
</script>