<template>
    <div>

        <v-list-group prepend-icon="open_with">
            <v-list-tile slot="activator">
                <v-list-tile-title>Parcels</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'addParcel'}">
                <v-list-tile-action>
                <v-icon>add</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Add new</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'currentParcels'}">
                <v-list-tile-action>
                <v-icon>date_range</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View current</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'sentParcels'}">
                <v-list-tile-action>
                <v-icon>redo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View sent</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'receivedParcels'}">
                <v-list-tile-action>
                <v-icon>undo</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View received</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'rejectedParcels'}">
                <v-list-tile-action>
                <v-icon>block</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View rejected</v-list-tile-title>
            </v-list-tile>

        </v-list-group>

                <v-list-group prepend-icon="group">
            <v-list-tile slot="activator">
                <v-list-tile-title>Senders and recipients</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'createCustomer'}">
                <v-list-tile-action>
                <v-icon>person_add</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Add new</v-list-tile-title>
            </v-list-tile>

            <v-list-tile :to="{name: 'Customers'}">
                <v-list-tile-action>
                <v-icon>group</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>View all</v-list-tile-title>
            </v-list-tile>


        </v-list-group>


        <v-list-group v-if="false" prepend-icon="receipt">
            <v-list-tile slot="activator">
                <v-list-tile-title>Orders</v-list-tile-title>
            </v-list-tile>

            <v-list-tile >
                <v-list-tile-action>
                <v-icon>add</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Add new</v-list-tile-title>
            </v-list-tile>

            <v-list-tile >
                <v-list-tile-action>
                <v-icon>list</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>All orders</v-list-tile-title>
            </v-list-tile>


        </v-list-group>
    </div>
</template>

<script>
export default {
    name: 'UserMenu',
        data() {
            return {

            };
        },
        filters: {

        },
        watch: {

        },
        methods: {

        },
        computed: {

        },
        mounted() {

        }
    };
</script>