<template>
  <div>
    <v-form v-model="valid" ref="form">
      <v-text-field label="E-mail" v-model="email" :rules="emailRules" required></v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
        :rules="[passwordRules.required, passwordRules.min]"
        :type="showPassword ? 'text' : 'password'"
        name="password"
        label="Password"
        hint="At least 8 characters"
        counter
        @click:append="showPassword = !showPassword"
      ></v-text-field>
      <v-btn @click="login" :class="{ red: !valid, green: valid }">Login</v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>

      <v-snackbar v-model="snackbar" :color="snackbarColor" vertical >
        {{ snackbarText }}
        <v-btn  dark flat @click="snackbar = false" >
          Close
        </v-btn>
      </v-snackbar>

      <loading v-bind:loading="loading"></loading>

  </div>
</template>

<script>
import loading from "@/js/components/loading";

export default {
  components: {
    loading  
  },
  data() {
    return {
      loading: false,
      snackbar: false,
      snackbarText: '',
      snackbarColor: 'info',
      valid: false,
      showPassword: false,
      email: '',
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: '',
      passwordRules: {
        required: value => !!value || 'Password is required',
        min: v => v.length >= 8 || 'Min 8 characters',
      },
    };
  },
  methods: {
    login() {
        if(this.$refs.form.validate()) {
          this.loading = true;
          this.$auth.login({
            data: {
              email: this.email,
              password: this.password
            },
            success(response) {
              this.loading = false;
            },
            error(response) {
              console.log(response.response);
              this.loading = false;
              this.snackbar = true;
              this.snackbarColor = 'error';
              this.snackbarText = response.response.data.msg === undefined ? response.response.statusText : response.response.data.msg;
            },
            rememberMe: true,
            redirect: '/',
            fetchUser: true,
          });
        }     
      },
    clear() {
      this.$refs.form.reset();
    }
  }
};
</script>