<template>
  <div>
    
    <v-alert :value="errorAlert" type="error" transition="scale-transition" dismissible v-for="error in errors" :key="error">{{error[0]}}</v-alert>
    
    <v-form v-model="valid" ref="form">
      <v-text-field label="Name" v-model="name" :rules="nameRules" :counter="30" required></v-text-field>
      <v-text-field label="E-mail" v-model="email" :rules="emailRules" required></v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
        :rules="[passwordRules.required, passwordRules.min]"
        :type="showPassword ? 'text' : 'password'"
        name="password"
        label="Password"
        hint="At least 8 characters"
        counter
        @click:append="showPassword = !showPassword"
      ></v-text-field>

      <v-checkbox
        label="i agree to process my personal data"
        v-model="userAgree"
        :rules="[(v) => !!v || 'You must agree to continue!']"
        required
      ></v-checkbox>

      <v-btn @click="register" :class="{ red: !valid, green: valid }">Register</v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      valid: false,
      showPassword: false,
      name: "",
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: "",
      passwordRules: {
        required: value => !!value || "Password is required",
        min: v => v.length >= 8 || "Min 8 characters"
      },
      userAgree: false,
      errors: {},
      success: false
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    register() {
      if (this.$refs.form.validate()) {
        this.errorAlert = false;
        this.$auth.register({
          data: {
            name: this.name,
            email: this.email,
            password: this.password,
            userAgree: false
          },
          success: function() {
            this.success = true;
          },
          error: function(resp) {
            this.errorAlert = true;
            this.errors = resp.response.data.errors;
          },
          redirect: null
        });
      }
    }
  }
};
</script>