<template>
  <div>
    <v-alert :value="errorAlert" type="error" transition="scale-transition" dismissible v-for="error in errors" :key="error">{{error[0]}}</v-alert>
    <v-form v-model="valid" ref="form" v-cloak>
      <v-text-field label="ID number" v-model="client.id_number" :rules="idNumberRules" :counter="5" required></v-text-field>
      <v-text-field label="Name" :disabled="clientAdminView" v-model="client.name" :rules="nameRules" :counter="30" required></v-text-field>
      <v-text-field label="Address" v-model="client.address" :rules="addressRules" :counter="30" required></v-text-field>
      <v-text-field label="City" v-model="client.city" :rules="cityRules" :counter="30" required></v-text-field>
      <v-text-field label="State" v-model="client.state" :rules="stateRules" :counter="30" required></v-text-field>
      <v-text-field label="Country" v-model="client.country" :rules="countryRules" :counter="30" required></v-text-field>
      <v-text-field label="Phone" v-model="client.phone" :rules="phoneRules" :counter="30" required></v-text-field>
      <v-text-field label="Fee"  prepend-icon="attach_money" v-model="client.fee" :rules="feeRules"  :counter="2"  required></v-text-field>
      <v-text-field label="Percent for users" v-model="client.user_percent" :rules="userPercentRules"  :counter="2"  required></v-text-field>
      <v-card-actions>
        <v-btn @click="create" :class="{ red: !valid, green: valid }">{{buttonLabel}}</v-btn>
        <v-btn @click="clear" v-if="!clientAdminView">clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn  v-if="!clientAdminView" :to="{name: 'clients'}">cancel</v-btn>
      </v-card-actions>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      valid: false,
      client: {
        name: '',
        address: '',
        state: '',
        city: '',
        country: '',
        phone: '',
        id_number: '',
        fee: '',
        user_percent: '',
      },
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      idNumberRules: [
        v => !!v || "ID number is required",
        v => (v && v.length <= 5) || "ID number must be less than 5 characters"
      ],
      addressRules: [
        v => !!v || "Address is required",
        v => (v && v.length <= 30) || "Address must be less than 30 characters"
      ],
      cityRules: [
        v => !!v || "City is required",
        v => (v && v.length <= 30) || "City must be less than 30 characters"
      ],
      stateRules: [
        v => !!v || "State is required",
        v => (v && v.length <= 30) || "State must be less than 30 characters"
      ],
      countryRules: [
        v => !!v || "Country is required",
        v => (v && v.length <= 30) || "Country must be less than 30 characters"
      ],
      phoneRules: [
        v => !!v || "Phone is required",
        v => (v && v.length <= 30) || "Phone must be less than 30 characters"
      ],
      feeRules: [
        v => !!v || "Fee is required",
      ],
      userPercentRules: [
        v => !!v || "User percent is required",
      ],
      errors: {},
      success: false,
      newClient: true,
      buttonLabel: 'Create',
      clientAdminView: this.$route.name === 'settings',
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    create() {
      if (this.$refs.form.validate()) {
        var route = '/clients/create';
          if (this.newClient == false) route = '/clients/update';
          this.errorAlert = false;
            axios.post(route, {
                name: this.client.name,
                client: this.client
            })
            .then(response => {
                if(this.clientAdminView) {
                  this.$router.push("/");
                } else {
                  this.$router.push("/clients");
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    },
    fetchClientData() {
      if(this.$route.params.clientId != undefined) {
         axios.get('clients/'+this.$route.params.clientId)
            .then(response => {
                if(response.data.status == 'success') {
                  this.client = response.data.client;
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    }
  },
  mounted() {
    if (this.$route.params.clientId != undefined) {
      this.buttonLabel = 'Update';
      this.newClient = false;
      this.fetchClientData();
    }
  }
};
</script>