<template>
  <div>
    <v-card>
      <v-card-title> 
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        <v-btn color="success" :to="{name: 'clientCreate'}">Create client</v-btn>
      </v-card-title>
      <v-data-table :headers="headers" :items="clients" class="elevation-1" :search="search">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.id_number }}</td>
          <td class="text-xs-center">{{ props.item.name }}</td>
          <td class="text-xs-center">{{ props.item.phone }}</td>
          <td class="text-xs-center">
              <v-btn small class="mr-2" flat icon :to="{name: 'clientEdit', params: {clientId: props.item.id}}">
                <v-icon small color="warning">edit</v-icon>
              </v-btn>
              <v-btn small class="mr-2" flat icon @click="deleteItem(props.item)" >
                <v-icon small color="red" >delete</v-icon>
              </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Clients",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "ID number",
          align: "center",
          sortable: true,
          value: "id_number"
        },
        {
          text: "Name",
          align: "center",
          sortable: true,
          value: "name"
        },
        {
          text: "Phone",
          align: "center",
          sortable: true,
          value: "phone"
        },
        {
          text: "Actions",
          align: "center",
          sortable: false,
          value: "action"
        }
      ],
      clients: []
    };
  },
  filters: {},
  watch: {},
  methods: {
    fetchClients() {
      axios
        .get("/clients/all")
        .then(response => {
          this.clients = response.data;
          console.log(this.clients);
        })
        .catch(error => {
          console.log(error);
        });
    },
    deleteItem(item) {
      console.log(item);
        axios
        .post("/clients/delete", {
          client : item
        })
        .then(response => {
          this.fetchClients();
        })
        .catch(error => {
          console.log(error);
        });
    },
  },
  computed: {},
  mounted() {
    this.fetchClients();
  }
};
</script>