<template>
  <div>
    <v-alert :value="errorAlert" type="error" transition="scale-transition" dismissible v-for="error in errors" :key="error">{{error[0]}}</v-alert>
    <v-form v-model="valid" ref="form">
      <v-text-field label="Name" v-model="country.name" :rules="nameRules" :counter="30" required></v-text-field>
      <v-card-actions>
        <v-btn @click="create" :class="{ red: !valid, green: valid }">{{buttonLabel}}</v-btn>
        <v-btn @click="clear">clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn :to="{name: 'countries'}">cancel</v-btn>
      </v-card-actions>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      valid: false,
      country: {
        name: ''
      },
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      errors: {},
      success: false,
      newCountry: true,
      buttonLabel: 'Create',
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    create() {
      if (this.$refs.form.validate()) {
        var route = '/countries/create';
          if (this.newCountry == false) route = '/countries/update';
          this.errorAlert = false;
            axios.post(route, {
                name: this.country.name,
                country: this.country
            })
            .then(response => {
                console.log(response);
                this.$router.push("/countries");
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    },
    fetchCountryData() {
      if(this.$route.params.countryId != undefined) {
         axios.get('countries/'+this.$route.params.countryId)
            .then(response => {
                if(response.data.status == 'success') {
                  this.country = response.data.country;
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    }
  },
  mounted() {
    if (this.$route.params.countryId != undefined) {
      this.buttonLabel = 'Update';
      this.newCountry = false;
      this.fetchCountryData();
    }
  }
};
</script>