<template>
  <div>
    <v-alert :value="errorAlert" type="error" transition="scale-transition" dismissible v-for="error in errors" :key="error">{{error[0]}}</v-alert>
    <v-form v-model="valid" ref="form" v-if="loadedPayment">
        <v-select :items="types" label="Type" v-model="type" required :rules="typeRules"></v-select>
      <v-text-field label="Name" v-model="name" :rules="nameRules" :counter="30" required></v-text-field>
      <v-text-field label="Fee" prepend-icon="attach_money" disabled v-model="$auth.user().clientFee"></v-text-field>
      <v-text-field label="Payment for one pound" v-model="payment" prepend-icon="attach_money" :counter="8" required :rules="paymentRules"></v-text-field>
      <v-text-field label="Delivery Time" v-model="delivery_time" :counter="30" required :rules="delivery_timeRules"></v-text-field>
      <v-textarea v-model="comments" hint="Comments" required :rules="commentsRules"></v-textarea>
      <v-card-actions>
        <v-btn @click="create" :class="{ red: !valid, green: valid }">{{buttonLabel}}</v-btn>
        <v-btn @click="clear">clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn :to="{name: 'shipment'}">cancel</v-btn>
      </v-card-actions>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      valid: false,
      types: [
          'Economic',
          'Premium',
          'Volume',
      ],
      shipmentId: '',
      name: '',
      type: '',
      payment: '',
      delivery_time: '',
      comments: '',
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      typeRules: [
        v => !!v || "Type is required",
      ],
      paymentRules: [
        v => !!v || "Payment is required",
      ],
      delivery_timeRules: [
        v => !!v || "Delivery time is required",
        v => (v && v.length <= 30) || "Delivery time must be less than 30 characters"
      ],
      commentsRules: [
        v => !!v || "Comments is required",
        v => (v && v.length <= 100) || "Comments must be less than 100 characters"
      ],
      errors: {},
      success: false,
      newShipment: true,
      buttonLabel: 'Create',
      loadedPayment: false,
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    create() {
      if (this.$refs.form.validate()) {
        var route = '/shipment/create';
          if (this.newShipment == false) route = '/shipment/update';
          this.errorAlert = false;
            axios.post(route, {
              shipmentId : this.shipmentId,
              name: this.name,
              type: this.type,
              payment: this.payment,
              delivery_time: this.delivery_time,
              comments: this.comments,
            })
            .then(response => {
                console.log(response);
                this.$router.push("/shipment");
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    },
    fetchCountryData() {
      if(this.$route.params.shipmentId != undefined) {
         axios.get('shipment/'+this.$route.params.shipmentId)
            .then(response => {
                if(response.data.status == 'success') {
                  this.shipmentId = this.$route.params.shipmentId;
                  this.name = response.data.shipment.name;
                  this.type = response.data.shipment.type;
                  this.payment = response.data.shipment.payment;
                  this.delivery_time = response.data.shipment.delivery_time;
                  this.comments = response.data.shipment.comments;
                  this.loadedPayment = true;
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    }
  },
  mounted() {
    if (this.$route.params.shipmentId !== undefined) {
      this.buttonLabel = 'Update';
      this.newShipment = false;
      this.fetchCountryData();
    } else {
      this.loadedPayment = true;
    }
  }
};
</script>