<template>
  <div>
    <v-alert
      :value="errorAlert"
      type="error"
      transition="scale-transition"
      dismissible
      v-for="error in errors"
      :key="error"
    >{{error[0]}}</v-alert>

    <v-form v-model="valid" ref="form">
      <v-text-field label="Name" v-model="user.name" :rules="nameRules" :counter="30" required></v-text-field>
      <v-text-field label="E-mail" v-model="user.email" :rules="emailRules" required></v-text-field>
      <v-text-field
        v-model="user.password"
        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
        :rules="newUser ? [passwordRules.required, passwordRules.min] : []"
        :type="showPassword ? 'text' : 'password'"
        name="password"
        label="Password"
        hint="At least 8 characters"
        counter
        @click:append="showPassword = !showPassword"
      ></v-text-field>
      <v-select :items="roles" v-model="user.status" label="Role" required></v-select>
      <v-select
        :disabled="$auth.user().role == 'Client Admin'"
        v-if="user.status != 'Super Admin'"
        :items="clients"
        v-model="user.client_id"
        label="Client"
        item-text="name"
        item-value="id"
        required
        :rules="[(v) => !!v || 'Item is required']"
      ></v-select>
      <v-text-field v-if="user.status != 'Super Admin'" label="Discount" v-model="user.discount" :rules="discountRules" required></v-text-field>
      <v-text-field v-if="user.status != 'Super Admin'" label="Limit" v-model="user.money_limit" :rules="limitRules" required></v-text-field>
      <v-checkbox
        v-if="newUser"
        label="agree to process personal data"
        v-model="user.userAgree"
        :rules="[(v) => !!v || 'You must agree to continue!']"
        required
      ></v-checkbox>
      <v-card-actions>
        <v-btn @click="register" :class="{ red: !valid, green: valid }">{{buttonLabel}}</v-btn>
        <v-btn @click="clear">clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn :to="{name: 'users'}">cancel</v-btn>
      </v-card-actions>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      roles: [],
      user: {
        name: "",
        email: "",
        password: '',
        status: "User",
        client_id: "",
        money_limit: '',
        discount: '',
        userAgree: false
      },
      errorAlert: false,
      valid: false,
      showPassword: false,
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 30) || "Name must be less than 30 characters"
      ],
      discountRules: [
        v => !!v || "Discount is required",
        v => (v && v.length <= 2) || "Discount must be less than 2 characters"
      ],
      limitRules: [
        v => !!v || "Limit is required",
        v => (v && v.length <= 4) || "Limit must be less than 4 characters"
      ],
      passwordRules: {
        required: value => !!value || "Password is required",
        min: v => v.length >= 8 || "Min 8 characters"
      },
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      errors: {},
      success: false,
      clients: [],
      newUser: true,
      buttonLabel: 'Register',
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    register() {
      if (this.$refs.form.validate()) {
        if (this.user.status == "Super Admin") this.user.client_id = "";
          var route = '/users/create';
          if (this.newUser == false) route = '/users/update';
        this.errorAlert = false;
        axios
          .post(route, {
            name: this.user.name,
            email: this.user.email,
            status: this.user.status,
            client_id: this.user.client_id,
            userAgree: this.user.userAgree,
            user: this.user
          })
          .then(response => {
            this.$router.push("/users");
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    fetchClients() {
      axios
        .get("/clients/all")
        .then(response => {
          this.clients = response.data;
          console.log(this.clients);
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchUserData() {
      if(this.$route.params.userId != undefined) {
         axios.get('users/'+this.$route.params.userId)
            .then(response => {
                if(response.data.status == 'success') {
                  this.user = response.data.user;
                  this.user.status = response.data.user_role;
                  this.user.userAgree = true;
                  this.user.password = '';
                  console.log(this.user);
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    },
  },
  mounted() {
    this.fetchClients();
    if (this.$route.params.userId != undefined) {
      this.buttonLabel = 'Update';
      this.newUser = false;
      this.fetchUserData();
    } else if(this.$auth.user().role == 'Client Admin'){
      this.user.client_id = this.$auth.user().user.client_id
    }
    this.roles = ["Client Admin", "User"];
    if(this.$auth.user().role == 'Super Admin') this.roles.push('Super Admin');
  },
  created: function () {
    console.log(this.$auth.user().role)
  }
};
</script>