<template>
  <div>
        <v-card>
      <v-card-title> 
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-btn color="success" :to="{name: 'userCreate'}">Create user</v-btn>

      </v-card-title>
    <v-data-table :headers="headers" :items="users" class="elevation-1" :search="search">
      <template slot="items" slot-scope="props">
        <td class="text-xs-center">{{ props.item.id }}</td>
        <td class="text-xs-center">{{ props.item.name }}</td>
        <td class="text-xs-center">{{ props.item.email }}</td>
        <td class="text-xs-center">{{ getUserRole(props.item.status) }}</td>
        <td class="text-xs-center">{{ getUserClientName(props.item.client) }}</td>
        <td class="text-xs-center">
          <v-btn small class="mr-2" flat icon :to="{name: 'userEdit', params: {userId: props.item.id}}">
            <v-icon small color="warning">edit</v-icon>
          </v-btn>
          <v-btn small class="mr-2" flat icon @click="deleteItem(props.item)" v-if="$auth.user().user.id != props.item.id" >
            <v-icon small color="red" >delete</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
        </v-card>
  </div>
</template>

<script>
export default {
  name: "Users",
  data() {
    return {
      search: '',
        headers: [
            {
                text: 'Id',
                align: 'center',
                sortable: true,
                value: 'id'
            },
            {
                text: 'Name',
                align: 'center',
                sortable: true,
                value: 'name'
            },
            {
                text: 'Email',
                align: 'center',
                sortable: true,
                value: 'email'
            },
            {
                text: 'Role',
                align: 'center',
                sortable: false,
                value: 'Status'
            },
            {
                text: 'Client',
                align: 'center',
                sortable: false,
                value: 'Client'
            },
            {
              text: "Actions",
              align: "center",
              sortable: false,
              value: "action"
            },
        ],
        users: [],
    };
  },
  filters: {},
  watch: {},
  methods: {
    fetchUsers() {
      axios
        .get("/users/all")
        .then(response => {
          this.users = response.data;
          console.log(this.users);
        })
        .catch(error => {
          console.log(error);
        });
    },
    getUserRole(roleId) {
      switch (roleId) {
        case 0:
          return 'Super Admin'
          break;
        case 1:
          return 'Client Admin'
          break;
        case 2:
          return 'User'
          break;
      }
    },
    getUserClientName(client) {
      if(client != undefined) {
        return client.name;
      }
      return '';
    },
    deleteItem(item) {
      console.log(item);
        axios
        .post("/users/delete", {
          user : item
        })
        .then(response => {
          this.fetchUsers();
        })
        .catch(error => {
          console.log(error);
        });
    },
  },
  computed: {},
  mounted() {
    this.fetchUsers();
  }
};
</script>