<template>
  <div>
    <v-alert
      :value="errorAlert"
      type="error"
      transition="scale-transition"
      dismissible
      v-for="error in errors"
      :key="error"
    >{{error[0]}}</v-alert>
    <v-form v-model="valid" ref="form">
      <v-container>
        <h3>Country of destination</h3>
        <v-radio-group :rules="[v => !!v || 'Country is required']" v-model="parcel.country_id" row>
          <v-radio
            v-for="country in countries"
            :key="country.id"
            :label="country.name"
            :value="country.id"
          ></v-radio>
        </v-radio-group>

        <br>

        <h3>Parcel Type</h3>
        <v-radio-group :rules="[v => v !== null || 'Parcel Type is required']" v-model="parcel.type" row>
          <v-radio
            v-for="type in types"
            :key="type.id"
            :label="type.name"
            :value="type.id"
            @change="onParcelTypeChanged"
          ></v-radio>
        </v-radio-group>

        <br>

        <h3>Enter measurements</h3>
        <v-layout>
          <v-flex xs12 sm6 md3>
            <v-text-field 
              label="Weight (lbs)"
              :rules="parcelDimensions('Weight')"
              type="number"
              step="0.1"
              v-model="parcel.weight"
              @change="onParcelWeightChanged"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Width (in)" v-model="parcel.width" :rules="parcelDimensions('Width')" type="number" step="0.1"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Height (in)" v-model="parcel.height" :rules="parcelDimensions('Height')" type="number" step="0.1"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Length (in)" v-model="parcel.length" :rules="parcelDimensions('Length')" type="number" step="0.1"></v-text-field>
          </v-flex>
        </v-layout>

        <br>

        <div v-if="!parcel.type">
          <h3>Pick shipment type</h3>
          <v-radio-group :rules="[v => !!v || 'Shipment type is required']" v-model="parcel.shipment_id" row>
            <v-radio
              v-for="shipType in shipment"
              @change="paymentParcel(shipType)"
              :key="shipType.id"
              :value="shipType.id"
            >
              <div
                slot="label"
              >
                {{shipType.type}} - {{shipType.name}} - ${{shipType.payment}} - {{shipType.delivery_time}} - {{shipType.comments}}
              </div>
            </v-radio>
          </v-radio-group>
          <br>
        </div>

        <h3>Insurance (optional)</h3>
        <v-text-field 
          label="Insurance"
          v-model="parcel.insurance"
          type="number"
        >
        </v-text-field>

        <br>

        <h3>Fill in the remaining information</h3>
        <v-text-field label="Amount"></v-text-field>
        <v-text-field label="ASO notes"></v-text-field>

        <br>

        <h3>Customer payment</h3>
        <h2>$ {{ getTotalFee() }}</h2>
        <div>
          <span v-if="parcel.type === c.PT_REGULAR">
            Regular Parcel: Shipment payment (${{ parcel.payment }}) * Parcel weight ({{ parcel.weight }}) 
              + Fee (${{ $auth.user().clientFee }})
            <span v-if="parcel.insurance > 0">
              + Insurance (${{ (parcel.insurance * c.RPT_INSURANCE_FEE).toFixed(2) }})
            </span>
          </span>
          <span v-if="parcel.type === c.PT_LARGE">
            Large Package: Volume payment (${{ c.LPT_PER_M3 }}) * Parcel volume 
                  ({{ (parcel.length * parcel.height * parcel.width * c.IN2M * c.IN2M * c.IN2M).toFixed(9) }} m<sup>3</sup>)
              + Shipment payment (${{ c.LPT_PER_POUND }}) * Parcel weight ({{ parcel.weight }}) 
              + Fee (${{ c.LPT_FEE }})
            <span v-if="parcel.insurance > 0">
              + Insurance (${{ (parcel.insurance * c.LPT_INSURANCE_FEE).toFixed(2) }})
            </span>
          </span>
          <span v-if="!(parcel.insurance > 0)">
            (No insurance)
          </span> 
        </div>
        
        <br>

        <h3>Enter senders and recipients information</h3>

        <br>

        <h4>Sender</h4>

        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-switch v-model="senderSearch" label="Get sender from database" @change="senderSearchChanged()"></v-switch>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-autocomplete
              v-model="selectedSender"
                :items="customers"
                :filter="customerFilter"
                item-text="full_name"
                item-value="id"
                hide-no-data
                label="Search sender"
                :search-input.sync="querySender"
                @focus="onFocus"
                @change="setSender($event)"
                :disabled="!senderSearch"
              ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Last name" v-model="sender.last_name" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
            <v-text-field label="Company name" v-model="sender.company_name" :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="First name" v-model="sender.first_name" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex xs12 sm6 md4>
            <v-text-field label="Street" v-model="sender.street" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field label="Building" v-model="sender.building" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field label="House number" v-model="sender.house_number" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Zip code" mask="##-###" v-model="sender.zip_code" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="City" v-model="sender.city" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="State" v-model="sender.state" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Country" v-model="sender.country" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Phone number" v-model="sender.phone_number" :rules="senderSearch ? [] : inputRules" required :disabled="senderSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="E-mail" v-model="sender.email" :disabled="senderSearch"></v-text-field>
          </v-flex>
        </v-layout>

        <br>

        <h4>Recipient</h4>
        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-switch v-model="recipientSearch" label="Get recipient from database" @change="recipientSearchChanged()"></v-switch>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-autocomplete
              v-model="selectedRecipient"
              :items="customers"
              :filter="customerFilter"
              item-text="full_name"
              item-value="id"
              hide-no-data
              label="Search recipient"
              :search-input.sync="queryRecipient"
              @focus="onFocus"
              @change="setRecipient($event)"
              :disabled="!recipientSearch"
            ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Last name" v-model="recipient.last_name" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
            <v-text-field label="Company name" v-model="recipient.company_name" :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="First name" v-model="recipient.first_name" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex xs12 sm6 md4>
            <v-text-field label="Street" v-model="recipient.street" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field label="Building" v-model="recipient.building" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field label="House number" v-model="recipient.house_number" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Zip code" mask="##-###" v-model="recipient.zip_code" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="City" v-model="recipient.city" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="State" v-model="recipient.state" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Country" v-model="recipient.country" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Phone number" v-model="recipient.phone_number" :rules="recipientSearch ? [] : inputRules" required :disabled="recipientSearch"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="E-mail" v-model="recipient.email" :disabled="recipientSearch"></v-text-field>
          </v-flex>
        </v-layout>

        <br>

        <h3>Enter contents and value</h3>

        <v-layout v-for="(product, index) in parcel.products" :key="index">
          <v-flex xs12 sm6 md6>
            <v-text-field label="Product description" v-model="product.description"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-text-field label="Product quantity" v-model="product.quantity"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-btn flat icon @click="deleteRow(index)">
              <v-icon>delete</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>

        <v-btn flat icon @click="addRow()">
          <v-icon>add</v-icon>
        </v-btn>

        <v-card-actions>
          <v-btn @click="create" :class="{ red: !valid, green: valid }">Add parcel</v-btn>
          <v-btn @click="clear">clear</v-btn>
        </v-card-actions>
        <allowedGoods ref="allowedGoods" @agreeButtonClicked="create" />
      </v-container>
    </v-form>

      <v-snackbar v-model="snackbar" color="error" vertical >
        {{ snackbarText }}
        <v-btn  dark flat @click="snackbar = false" >
          Close
        </v-btn>
      </v-snackbar>

    <loading v-bind:loading="loading"></loading>

  </div>
</template>

<script>
import loading from "@/js/components/loading";
import allowedGoods from "@/js/pages/User/dialogs/AllowedGoods";
import c from "@/js/components/constants.js";

export default {
  components: {
    loading,
    allowedGoods  
  },
  data() {
    return {
      loading: false,
      errorAlert: false,
      valid: false,
      shipment: {},
      countries: {},
      types: [
        { 
          id: c.PT_REGULAR, 
          name: 'Regular Parcel' 
        },{
          id: c.PT_LARGE,
          name: 'Large Package'
        }
      ],
      parcel: {
        country_id: "",
        type: null,
        weight: null,
        width: null,
        height: null,
        length: null,
        insurance: null,
        payment: 0,
        total_fee: 0,
        products: [
          {
            description: "",
            quantity: ""
          }
        ]
      },
      sender: {
        last_name: "",
        first_name: "",
        company_name: "",
        zip_code: "",
        city: "",
        street: "",
        building: "",
        house_number: "",
        state: "",
        country: "",
        phone_number: "",
        email: ""
      },
      recipient: {
        last_name: "",
        first_name: "",
        company_name: "",
        zip_code: "",
        city: "",
        street: "",
        building: "",
        house_number: "",
        state: "",
        country: "",
        phone_number: "",
        email: ""
      },
      customers: [],
      fetchedCustomers: [],
      errors: {},
      success: false,
      buttonLabel: "Create",
      querySender: null,
      queryRecipient: null,
      senderSearch: true,
      selectedSender: {},
      recipientSearch: true,
      selectedRecipient: {},
      validate: false,
      snackbar: false,
      snackbarText: 'Fill in all required fields',
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      inputRules: [
        v => !!v || "Field is required"
      ],
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    formValidation() {
      this.validate = this.$refs.form.validate();
      this.snackbarText = 'Fill in all required fields';
      
      if(this.senderSearch && this.sender.id === undefined) {
        this.validate = false;
        this.snackbarText = 'Choose sender.';
      }

      if(this.recipientSearch && this.recipient.id == undefined) {
        this.validate = false;
        this.snackbarText = this.snackbarText + ' Choose recipient.';
      }
      return this.validate;
    },
    create() {
      if (this.formValidation()) {
        this.loading = true;
        var route = "/parcel/create";
        axios
          .post(route, {
            parcel: this.parcel,
            sender: this.sender,
            recipient: this.recipient
          })
          .then(response => {
            this.loading = false;
            if(response.data.status === 'success') {
              this.$router.push({path: "/parcels/current", query: {"parcel_id": response.data.parcel_id}});
            } else {
              this.snackbar = true;
              this.snackbarText = response.data.msg;
            }
          })
          .catch(e => {
            this.loading = false;
            this.errorAlert = true;
            this.errors = e.response.data.errors;
            this.snackbar = true;
          });
      }

      if(!this.validate) {
        this.snackbar = true;
      }
    },
    showAllowedGoodsDialog() {
      this.$refs.allowedGoods.showDialog();
    },
    onParcelWeightChanged(value) {
      this.parcel.weight = this.parcel.weight !== null && this.parcel.weight < c.RPT_MIN && this.parcel.type === c.PT_REGULAR 
        ? c.RPT_MIN : this.parcel.weight;
    },
    onParcelTypeChanged(value) {
      this.$nextTick(() => this.onParcelWeightChanged());
    },
    getTotalFee() {
      let total_fee = 0;
      if (this.parcel.type === c.PT_REGULAR) {
        total_fee = (parseFloat(this.parcel.payment) * parseFloat(this.parcel.weight) 
            + parseFloat(this.$auth.user().clientFee)
            + parseFloat(this.parcel.insurance * c.RPT_INSURANCE_FEE) || 0).toFixed(2);
      }
      if (this.parcel.type === c.PT_LARGE) {
        total_fee = (parseFloat(this.parcel.weight) * c.LPT_PER_POUND
            + parseFloat(this.parcel.length) * parseFloat(this.parcel.height) * parseFloat(this.parcel.width) * c.LPT_PER_M3
              * c.IN2M * c.IN2M * c.IN2M
            + parseFloat(c.LPT_FEE)
            + parseFloat(this.parcel.insurance * c.LPT_INSURANCE_FEE) || 0).toFixed(2);
      }
      if (this.parcel.total_fee !== total_fee) {
        this.parcel.total_fee = total_fee;
      }
      return this.parcel.total_fee;
    },
    fetchShipment() {
      axios
        .get("/shipment/all")
        .then(response => {
          this.shipment = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchCountries() {
      axios
        .get("/countries/all")
        .then(response => {
          this.countries = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchCustomers() {
      axios
        .get("/customers/all")
        .then(response => {
          this.fetchedCustomers = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    paymentParcel(shipment) {
      this.parcel.payment = shipment.payment;
    },
    addRow() {
      this.parcel.products.push({
        description: "",
        quantity: ""
      });
    },
    deleteRow(index) {
      this.parcel.products.splice(index, 1);
    },
    customerFilter (item, queryText, itemText) {
      if (queryText.length < 3) {
        return false;
      }
      const textOne = !!item.email ? item.email.toLowerCase() : '';
      const textTwo = item.first_name.toLowerCase();
      const textThree = item.last_name.toLowerCase();
      const searchText = queryText.toLowerCase();

      return textOne.indexOf(searchText) > -1 || textTwo.indexOf(searchText) > -1 || textThree.indexOf(searchText) > -1;
    },
    updateCustomers(query) {
      this.customers = typeof query == 'string' && query.length
        ? this.fetchedCustomers : [];
    },
    onFocus(event) {
      this.customers = [];
    },
    setSender(sender) {
        this.sender = this.customers.filter((item) => {
          return item.id==sender
        })[0];
    },
    setRecipient(recipient) {
        this.recipient = this.customers.filter((item) => {
          return item.id==recipient
        })[0];
    },
    senderSearchChanged() {
        this.sender = {
          last_name: "",
          first_name: "",
          company_name: "",
          zip_code: "",
          city: "",
          street: "",
          building: "",
          house_number: "",
          state: "",
          country: "",
          phone_number: "",
          email: ""
        };
        this.selectedSender = {};
    },
    recipientSearchChanged() {
        this.recipient = {
          last_name: "",
          first_name: "",
          company_name: "",
          zip_code: "",
          city: "",
          street: "",
          building: "",
          house_number: "",
          state: "",
          country: "",
          phone_number: "",
          email: ""
        };
        this.selectedRecipient = {};
    },
    parcelDimensions(field) {
      if (field == 'Weight') {
        const type = this.parcel.type;
        return [
            v => !!v 
                    || field + ' is required',
            v => (v >= c.RPT_MIN && type === c.PT_REGULAR) || type === c.PT_LARGE || type === null
                    || field + ' must be greater or equal to 25',
            v => (v <= c.RPT_MAX && type === c.PT_REGULAR) || type === c.PT_LARGE || type === null
                    || field + ' must be less or equal to 100',
        ];
      }
      return [
          v => !!v || field + ' is required',
          v => v > 0 || field + ' must be greater than 0'
      ];
    },
  },
  watch: {
    querySender: function(val) {
      this.updateCustomers(val);
    },
    queryRecipient: function(val) {
      this.updateCustomers(val);
    },
  },
  created() {
    this.c = c;
  },
  mounted() {
    this.showAllowedGoodsDialog();
    this.fetchShipment();
    this.fetchCountries();
    this.fetchCustomers();
  }
};
</script>