<template>
  <div>
    <v-alert :value="errorAlert" type="error" transition="scale-transition" dismissible v-for="error in errors" :key="error">{{error[0]}}</v-alert>
    <v-form v-model="valid" ref="form">
      <v-container>
        <v-layout>
            <v-flex xs12 sm6 md6>
                <v-text-field label="Last name"  v-model="customer.last_name" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
                <v-text-field label="Company name"  v-model="customer.company_name" ></v-text-field>

            </v-flex>
            <v-flex xs12 sm6 md6>
                <v-text-field label="First name"  v-model="customer.first_name" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>

            </v-flex>
        </v-layout>
                
        <v-layout>
            <v-flex xs12 sm6 md4>
                <v-text-field label="Street"  v-model="customer.street" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <v-text-field label="Building"  v-model="customer.building" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <v-text-field label="House number"  v-model="customer.house_number" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout>

            <v-flex xs12 sm6 md3>
                <v-text-field label="Zip code" mask="##-###" v-model="customer.zip_code" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md3>
                <v-text-field label="City"  v-model="customer.city" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md3>
                <v-text-field label="State"  v-model="customer.state" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md3>
                <v-text-field label="Country"  v-model="customer.country" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12 sm6 md6>
                <v-text-field label="Phone number"  v-model="customer.phone_number" required :rules="[(v) => !!v || 'Item is required']"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md6>
                <v-text-field label="E-mail"  v-model="customer.email"></v-text-field>
            </v-flex>
        </v-layout>

      <v-card-actions>
        <v-btn @click="create" :class="{ red: !valid, green: valid }">{{buttonLabel}}</v-btn>
        <v-btn @click="clear">clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn :to="{name: 'Customers'}">cancel</v-btn>
      </v-card-actions>
    </v-container>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorAlert: false,
      valid: false,
      types: [
          'Economic',
          'Premium',
          'Volume',
      ],
      shipmentId: '',
      customer: {
        last_name: '',
        first_name: '',
        company_name: '',
        zip_code: '',
        city: '',
        street: '',
        building: '',
        house_number: '',
        state: '',
        country: '',
        phone_number: '',
        email: '',
      },
      errors: {},
      success: false,
      newCustomer: true,
      buttonLabel: 'Create',
    };
  },
  methods: {
    clear() {
      this.$refs.form.reset();
    },
    create() {
      if (this.$refs.form.validate()) {
        var route = '/customers/create';
          if (this.newCustomer == false) route = '/customers/update';
          this.errorAlert = false;
            axios.post(route, {
              customer: this.customer,
            })
            .then(response => {
                console.log(response);
                this.$router.push("/customers");
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    },
    fetchCustomerData() {
      if(this.$route.params.customerId != undefined) {
         axios.get('customers/'+this.$route.params.customerId)
            .then(response => {
                if(response.data.status == 'success') {
                  this.customerId = this.$route.params.customerId;
                  this.customer = response.data.customer;
                }
            })
            .catch(e => {
                this.errorAlert = true;
                this.errors = e.response.data.errors;
            })
      }
    }
  },
  mounted() {
    if (this.$route.params.customerId != undefined) {
      this.buttonLabel = 'Update';
      this.newCustomer = false;
      this.fetchCustomerData();
    }
  }
};
</script>