<template>
  <div>
    <v-card>
      <v-card-title>
        <h3>Parcels</h3>
      </v-card-title>

      <v-form>
        <v-container>
          <v-layout>
            <v-flex xs12 sm6 md4>
              <v-menu ref="dateFromMenu" v-model="dateFromMenu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                <v-text-field slot="activator" v-model="dateFrom" label="Date from" prepend-icon="event" readonly clearable @click:clear="saveDateFrom"></v-text-field>
                <v-date-picker ref="picker" v-model="dateFrom" :max="new Date().toISOString().substr(0, 10)" min="1950-01-01" @change="saveDateFrom"></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm6 md4>
              <v-menu ref="dateToMenu" v-model="dateToMenu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                <v-text-field clearable slot="activator" v-model="dateTo" label="Date to" prepend-icon="event" readonly @click:clear="saveDateTo"></v-text-field>
                <v-date-picker ref="picker" v-model="dateTo" :max="new Date().toISOString().substr(0, 10)" min="1950-01-01" @change="saveDateTo" ></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm6 md4>
              <v-select :items="shipment" clearable v-model="shipmentId" label="Parcel type" item-text="name" item-value="id"></v-select>
            </v-flex>
            <v-flex xs12 sm6 md4>
              <v-btn color="info" @click="fetchParcels()">Filter</v-btn>
              <v-btn v-if="showTopButtons()" color="info" @click="printAll('parcel-all')" ref="print-all">Print all</v-btn>
              <v-btn v-if="showTopButtons()" color="info" @click="printAll('release-all')" ref="release-all">Send current parcels</v-btn>
            </v-flex>
          </v-layout>

          <v-layout v-if="$auth.user().role == 'Super Admin'">
            <v-flex xs12 sm9>
              <v-autocomplete clearable
                :items="users"
                :filter="userFilter"
                item-text="name"
                item-value="id"
                label="Search User"
                @change="setUser($event)"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm3>
              <v-btn v-if="$route.path == '/parcels/sent'" color="info" @click="printAll('ship-all-by-admin')" ref="parcels-shipping">Parcels shipping</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>

      <v-data-table v-if="showReports()" :headers="reportHeaders" :items="reports" class="send-reports">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.waybill }}</td>
          <td v-if="$auth.user().role == 'Super Admin'" class="text-xs-center">{{ props.item.username }}</td>
          <td class="text-xs-center">{{ props.item.created_at }}</td>
          <td class="text-xs-center">{{ props.item.parcel_count }}</td>
          <td class="text-xs-center">${{ parseFloat(props.item.parcel_payment).toFixed(2) }}</td>
          <td class="text-xs-center buttons">
            <v-btn small @click="fetchParcels(props.item.id)" class="mr-2" flat icon>
              <v-icon small >remove_red_eye</v-icon>
            </v-btn>
            <v-tooltip v-if="showPrintButton('parcel-all')" top>
              <template v-slot:activator="{ on }">
                <v-btn small class="mr-2" flat icon @click="printAll('parcel-all', props.item.id)" v-on="on">
                  <v-icon small style="color: darkblue">print</v-icon>
                </v-btn>
              </template>
              <span>Agent detail report</span>
            </v-tooltip>
            <v-tooltip v-if="showPrintButton('release-all')" top>
              <template v-slot:activator="{ on }">
                <v-btn small class="mr-2" flat icon @click="printAll('release-all', props.item.id)" v-on="on">
                  <v-icon small style="color: darkred">print</v-icon>
                </v-btn>
              </template>
              <span>Pick Up Report</span>
            </v-tooltip>
            <v-tooltip v-if="showPrintButton('ship-by-admin-all')" top>
              <template v-slot:activator="{ on }">
                <v-btn small class="mr-2" flat icon @click="printAll('ship-all-by-admin', props.item.id)" v-on="on">
                  <v-icon small style="color: darkred">print</v-icon>
                </v-btn>
              </template>
              <span>Admin Report</span>
            </v-tooltip>
          </td>
        </template>
      </v-data-table>

      <v-data-table
        :headers="parcelHeaders"
        :items="parcels"
        :pagination.sync="pagination"
        :rows-per-page-items="rowsPerPageItems"
        class="elevation-1"
      >
        <template v-slot:headers="props">
          <tr>
            <th
              v-for="header in props.headers"
              :key="header.text"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(header.value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ header.text }}
            </th>
          </tr>
        </template>
        <template v-slot:items="props">
          <td class="text-xs-center">{{ props.item.id }}</td>
          <td v-if="$auth.user().role == 'Super Admin'" class="text-xs-center">{{ props.item.user ? props.item.user.name : '' }}</td>
          <td class="text-xs-center">{{ props.item.created_at }}</td>
          <td class="text-xs-center">{{ props.item.shipment ? props.item.shipment.type : 'large' }} {{ props.item.shipment ? props.item.shipment.name : '' }}</td>
          <td class="text-xs-center">{{ props.item.weight }} lbs</td>
          <td class="text-xs-center" >${{ parseFloat(props.item.total_fee).toFixed(2) }}</td>
          <td v-if="$route.path == '/parcels/rejected'" class="text-xs-center" >{{ props.item.status_comment }}</td>
          <td class="text-xs-center buttons">
            <showParcel v-bind:parcel="props.item"></showParcel>
            <changeStatus @changed="fetchParcels()" v-bind:parcel="props.item"></changeStatus>
            <deleteParcel @changed="fetchParcels()" v-bind:parcel="props.item"></deleteParcel>
            <v-btn small class="mr-2" flat icon @click="print(props.item.id)">
              <v-icon small>print</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
      <div class="parcels-totals" v-if="$auth.user().role == 'Super Admin'">
        <h3>Parcels count: {{ totalCount }}. Parcels total fee: ${{ parseFloat(totalFee).toFixed(2) }}</h3>
      </div>
    </v-card>

    <v-snackbar v-model="snackbar" color="error" vertical >
      {{ snackbarText }}
      <v-btn  dark flat @click="snackbar = false" >
        Close
      </v-btn>
    </v-snackbar>

    <loading v-bind:loading="loading"></loading>
  </div>
</template>

<style>
  td.buttons button.v-btn {
    margin: 6px 0;
  }

  .parcels-totals {
    padding: 20px;
  }
</style>

<script>
import showParcel from "@/js/pages/User/dialogs/ShowParcel";
import changeStatus from "@/js/pages/User/dialogs/ChangeStatus";
import deleteParcel from "@/js/pages/User/dialogs/DeleteParcel";
import loading from "@/js/components/loading";

export default {
  name: "CurrentParcels",
  components: {
    showParcel,
    loading,
    changeStatus,
    deleteParcel
  },
  data() {
    return {
      search: "",
      dateFrom: null,
      dateFromMenu: false,
      dateTo: null,
      dateToMenu: false,
      reportId: null,
      shipmentId: null,
      shipment: [],
      users: [],
      selectedUser: {},
      pagination: {
        sortBy: 'id'
      },
      rowsPerPageItems: [15, 30, 50, 100],
      originalParcelHeaders: [{
          text: "Id",
          align: "center",
          sortable: true,
          value: "id"
        },{
          text: "Data received",
          align: "center",
          sortable: true,
          value: "created_at"
        },{
          text: "Parcel type",
          align: "center",
          sortable: true,
          value: "shipment.name"
        },{
          text: "Weight",
          align: "center",
          sortable: true,
          value: "weight"
        },{
          text: "Payment",
          align: "center",
          sortable: true,
          value: "total_fee"
        },{
          text: "Actions",
          align: "center",
          sortable: false,
          width: 600,
          value: "action"
      }],
      originalReportHeaders: [{
          text: "Waybill number",
          align: "center",
          sortable: true,
          value: "waybill"
        },{
          text: "Date sent",
          align: "center",
          sortable: true,
          value: "created_at"
        },{
          text: "Parcel count",
          align: "center",
          sortable: true,
          value: "parcel_count"
        },{
          text: "Newpost Fee",
          align: "center",
          sortable: true,
          value: "parcel_payment"
        },{
          text: "Actions",
          align: "center",
          sortable: false,
          value: "action"
      }],
      parcelHeaders: [],
      reportHeaders: [],
      parcels: [],
      reports: [],
      totalCount: 0,
      totalFee: 0,
      loading: false,
      snackbar: false,
      snackbarText: '',
    };
  },
  filters: {},
  watch: {
    $route(to, from) {
      this.init();
      this.fetchParcels();
    },
    dateFromMenu (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    dateToMenu (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
  },
  methods: {
    init() {
      this.parcelHeaders = [...this.originalParcelHeaders];
      this.reportHeaders = [...this.originalReportHeaders];
      console.log(this.parcelHeaders);
      if (this.$auth.user().role == 'Super Admin') {
        this.parcelHeaders.splice(1, 0, {
          text: "User Name",
          align: "center",
          sortable: true,
          value: "user.name"
        });
        this.reportHeaders.splice(1, 0, {
          text: "User Name",
          align: "center",
          sortable: true,
          value: "username"
        });
      }
      if (this.$route.path == '/parcels/rejected') {
        // insert element before the last element
        console.log(this.parcelHeaders.length);
        this.parcelHeaders.splice(this.parcelHeaders.length - 1, 0, {
          text: "Why rejected",
          align: "center",
          sortable: false,
          value: "status_comment"
        });
      }
    },
    fetchParcels(reportId) {
      this.reportId = reportId;
      let route = "";
      if (this.$route.path == "/parcels/current") {
        route = "/parcel/all/current";
      }
      if (this.$route.path == "/parcels/sent") {
        route = "/parcel/all/sent";
        this.fetchReports();
      }
      if (this.$route.path == "/parcels/sentByAdmin") {
        route = "/parcel/all/sentByAdmin";
        this.fetchReports();
      }
      if (this.$route.path == "/parcels/delivered") {
        route = "/parcel/all/delivered";
      }
      if (this.$route.path == "/parcels/received") {
        route = "/parcel/all/received";
      }
      if (this.$route.path == "/parcels/rejected") {
        route = "/parcel/all/rejected";
      }
      // console.log("this.$route.path", this.$route.path, route);

      axios
        .get(route, {
          params: {
            dateFrom: this.dateFrom,
            dateTo: this.dateTo,
            shipmentId: this.shipmentId,
            reportId: this.reportId,
            userId: this.selectedUser.id,
          }
        })
        .then(response => {
          let that = this;
          this.parcels = response.data;
          this.totalCount = 0; this.totalFee = 0;
          this.parcels.forEach(function(parcel, i) {
            that.totalCount++;
            that.totalFee += parseFloat(parcel.total_fee);
          });
          if (this.$route.query.parcel_id !== undefined) {
            this.print(this.$route.query.parcel_id);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    print(parcelId) {
      this.loading = true;
      axios({
        method: "get",
        url: "/print/parcel/" + parcelId,
        responseType: "blob"
      })
      .then(response => {
        const file = new Blob([response.data], { type: "application/pdf" });
        const url = URL.createObjectURL(file);
        printJS(url);
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
        this.loading = false;
        this.snackbar = true;
        this.snackbarText = 'Internal Server Error';
      });
    },
    printAll(slug, reportId) {
      this.loading = true;
      this.reportId = reportId;
      let status = "";
      if (this.$route.path == "/parcels/current") {
        status = null;
      }
      if (this.$route.path == "/parcels/sent") {
        status = "Shipped";
      }
      if (this.$route.path == "/parcels/sentByAdmin") {
        status = "ShippedByAdmin";
      }
      // if (this.$route.path == "/parcels/received")
      //   status = "Received";
      // if (this.$route.path == "/parcels/rejected")
      //   status = "Rejected";
      axios({
        method: "post",
        url: "/print/" + slug,
        responseType: "blob",
        data: {
          dateFrom: this.dateFrom,
          dateTo: this.dateTo,
          shipmentId: this.shipmentId,
          status: status,
          reportId: this.reportId
        }
      })
      .then(response => {
        const file = new Blob([response.data], { type: "application/pdf" });
        const url = URL.createObjectURL(file);
        printJS(url);
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
        this.loading = false;
        this.snackbar = true;
        this.snackbarText = 'Internal Server Error';
      });
    },
    fetchReports() {
      let url;
      if (this.$route.path == "/parcels/sent") {
        url = "parcel/all/reports";
      } else if (this.$route.path == "/parcels/sentByAdmin") {
        url = "parcel/all/adminReports";
      } else {
        return false;
      }
      axios({
        url: url,
        params: {
          dateFrom: this.dateFrom,
          dateTo: this.dateTo,
          userId: this.selectedUser.id
        }
      }).then(response => { this.reports = response.data; })
        .catch(error => { console.log(error); });
    },
    fetchShipment() {
      axios
        .get("/shipment/all")
        .then(response => {
          this.shipment = response.data;
          console.log(this.shipment);
        })
        .catch(error => {
          console.log(error);
        });
    },
    saveDateFrom(dateFrom) {
      this.$refs.dateFromMenu.save(dateFrom);
    },
    saveDateTo(dateTo) {
      this.$refs.dateToMenu.save(dateTo);
    },
    showTopButtons() {
      return !this.dateFrom && !this.dateTo
        && this.$auth.user().role != 'Super Admin'
        && this.$route.path == '/parcels/current';
    },
    showReports() {
      return this.$route.path == '/parcels/sent'
        || (this.$route.path == '/parcels/sentByAdmin' && this.$auth.user().role == "Super Admin");
    },
    showPrintButton(type) {
      if (this.$route.path == '/parcels/sent' && (type == 'parcel-all' || type == 'release-all')) {
        return true;
      }
      if (this.$route.path == '/parcels/sentByAdmin' && type == 'ship-by-admin-all') {
        return true;
      }
      return false;
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },
    fetchUsers() {
      axios
        .get("/users/all")
        .then(response => { this.users = response.data; })
        .catch(error => {
          console.log(error);
        });
    },
    userFilter(item, queryText, itemText) {
      const textOne = item.name.toLowerCase();
      const searchText = queryText.toLowerCase();
      return textOne.indexOf(searchText) > -1;
    },
    setUser(user) {
      this.selectedUser = user ? this.users.filter((item) => { return item.id == user })[0] : {};
      this.fetchParcels();
    }
  },
  computed: {},
  mounted() {
    this.init();
    this.fetchParcels();
    this.fetchShipment();
    if (this.$auth.user().role == 'Super Admin') {
      this.fetchUsers();
    }
  }
};
</script>