<template>
  <div>
    <v-card>
      <v-card-title> 
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        <v-btn color="success" :to="{name: 'createCustomer'}">Add customer</v-btn>
      </v-card-title>
      <v-data-table v-if="isVisible()" :headers="headers" :items="customers" class="elevation-1" :search="search">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.id }}</td>
          <td class="text-xs-center">{{ props.item.first_name }} {{ props.item.last_name }}</td>
          <td class="text-xs-center">{{ props.item.email }}</td>
          <td class="text-xs-center">
              <v-btn small class="mr-2" flat icon :to="{name: 'editCustomer', params: {customerId: props.item.id}}">
                <v-icon small color="warning">edit</v-icon>
              </v-btn>
              <v-btn small class="mr-2" flat icon @click="deleteItem(props.item)" >
                <v-icon small color="red" >delete</v-icon>
              </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Customers",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Id",
          align: "center",
          sortable: true,
          value: "id"
        },
        {
          text: "Full name",
          align: "center",
          sortable: true,
          value: "name"
        },
        {
          text: "Email",
          align: "center",
          sortable: true,
          value: "email"
        },
        {
          text: "Actions",
          align: "center",
          sortable: false,
          value: "action"
        }
      ],
      customers: []
    };
  },
  filters: {},
  watch: {},
  methods: {
    fetchCustomers() {
      axios
        .get("/customers/all")
        .then(response => {
          this.customers = response.data;
          console.log(this.customers);
        })
        .catch(error => {
          console.log(error);
        });
    },
    deleteItem(item) {
      console.log(item);
        axios
        .post("/customers/delete", {
          customer : item
        })
        .then(response => {
          this.fetchCustomers();
        })
        .catch(error => {
          console.log(error);
        });
    },
    isVisible() {
      return this.search.length > 2;
    },
  },
  computed: {},
  mounted() {
    this.fetchCustomers();
  }
};
</script>