<template>
  <v-app :dark="night_mode">
    <v-navigation-drawer app v-model="drawer" clipped>
        <Menu></Menu>
    </v-navigation-drawer>
    <v-toolbar app clipped-left height="65" color="blue-grey darken-2">
        <v-btn icon  @click.stop="drawer = !drawer">
            <v-icon color="white">menu</v-icon>
        </v-btn>
        <img src="../../images/logos/logo_sm.png" alt="logo" id="logo-img">
        <v-spacer></v-spacer>
        <v-btn icon  v-if="!night_mode" @click.stop="night_mode = !night_mode">
            <v-icon color="white">brightness_2</v-icon>
        </v-btn>
        <v-btn icon v-if="night_mode" @click.stop="night_mode = !night_mode">
            <v-icon>wb_sunny</v-icon>
        </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app class="pa-3">
      <v-spacer></v-spacer>
      <div>Need help? Send email to <a href="mailto:support@newpost.us">support@newpost.us</a></div>
      <v-spacer></v-spacer>
      <div>All rights reserved &copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<style>
#logo-img {
  height: 72px;
}
</style>

<script>

import Menu from '@/js/layouts/Menu';

export default {
    components: {
        Menu
    },
        data() {
            return {
                drawer: true,
                night_mode: false,
            };
        },
        filters: {

        },
        watch: {

        },
        methods: {

        },
        computed: {

        },
        mounted() {

        }
    };
</script>