<template>
  <div>
    <v-layout v-bind="binding" justify-space-between>
      <v-flex md3 pa-1>
        <InfoCard
          v-bind:title="'Current parcels'"
          v-bind:value="userDara.currentParcels"
          v-bind:icon="'date_range'"
          v-bind:button="'View all'"
          v-bind:color="'indigo lighten-2'"
          v-bind:route="'currentParcels'"
        ></InfoCard>
      </v-flex>
      <v-flex md3 pa-1>
        <InfoCard
          v-bind:title="'Sent parcels today'"
          v-bind:value="userDara.sentParcels"
          v-bind:icon="'redo'"
          v-bind:button="'View all'"
          v-bind:color="'brown  lighten-2'"
          v-bind:route="'sentParcels'"
        ></InfoCard>
      </v-flex>
      <v-flex md3 pa-1>
        <InfoCard
          v-bind:title="'Received parcels today'"
          v-bind:value="userDara.receivedParcels"
          v-bind:icon="'undo'"
          v-bind:button="'View all'"
          v-bind:color="'green  lighten-2'"
          v-bind:route="'receivedParcels'"
        ></InfoCard>
      </v-flex>
      <v-flex md3 pa-1>
        <InfoCard
          v-bind:title="'Senders and Recipients'"
          v-bind:value="userDara.allCustomers"
          v-bind:icon="'group'"
          v-bind:button="'View all'"
          v-bind:color="'teal lighten-2'"
          v-bind:route="'Customers'"
        ></InfoCard>
      </v-flex>
    </v-layout>
    <v-layout v-bind="binding" justify-space-between>
      <v-flex md6 sm12 pa-1>
        <v-card style="height: 100%" dark color="light-green lighten-5">
          <BarChart v-bind:data="userDara.monthGrouped" ></BarChart>
        </v-card>
      </v-flex>
      <v-flex  md6 sm12 pa-1>
        <v-card style="height: 100%" dark color="green lighten-5">
          <DoughnutChart v-bind:data="userDara.countryGrouped"></DoughnutChart>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import BarChart from "@/js/components/Chart/BarChart";
import DoughnutChart from "@/js/components/Chart/DoughnutChart";
import InfoCard from "@/js/components/Chart/InfoCard";

export default {
  name: "SuperAdminDashboard",
  components: {
    BarChart,
    DoughnutChart,
    InfoCard
  },
  data() {
    return {
        userDara: {
            currentParcels: 0,
            sentParcels: 0,
            receivedParcels: 0,
            allCustomers: 0,
            monthGrouped: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            countryGrouped: [
                [],
                [],
                []
            ],
        },
    };
  },
  filters: {},
  watch: {},
  methods: {
    getUserDashboardData() {
        axios
            .get("/dashboard/user")
            .then(response => {
                this.userDara = response.data;
                console.log(this.userDara);
            })
            .catch(error => {
                console.log(error);
            });
      },
  },
  computed: {
    binding() {
      const binding = {};
      if (this.$vuetify.breakpoint.mdAndUp) binding.row = true;
      else binding.column = true;
      return binding;
    }
  },
  mounted() {
      this.getUserDashboardData();
  }
};
</script>