<template>
  <v-dialog v-model="loading" persistent fullscreen hide-overlay>
        <v-container fill-height>
          <v-layout row justify-center align-center>
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-layout>
        </v-container>
  </v-dialog>
</template>

<script>
export default {
  props: ["loading"]
};
</script>

<style>
.v-dialog.v-dialog--active{
    background-color: #8a8a8a !important;
}
</style>

