<template>
    <div>
        <v-card :color="color" class="white--text">
            <v-card-title primary-title>
                <div>
                    <div class="headline">{{value}}</div>
                    <span>{{title}}</span>
                </div>
            </v-card-title>
            <v-card-actions>
                <v-btn small flat dark :to="{name: route}">{{button}} <v-icon medium right dark>{{icon}}</v-icon></v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>


<script>
export default {
  name: "InfoCard",
  components: {},
  props: ['title', 'value', 'icon', 'button', 'color', 'route'],
  data() {
    return {
    };
  },
  filters: {},
  watch: {},
  methods: {
  },
  computed: {},
  mounted () {
  }
};
</script>