<template>
  <v-list>
    <v-list-tile v-if="$auth.check()" :to="{path: '/'}">
      <v-list-tile-action>
        <v-icon>dashboard</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Dashboard</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <superAdminMenu v-if="$auth.user().role == 'Super Admin'"></superAdminMenu>
    <adminMenu v-if="$auth.user().role == 'Client Admin'"></adminMenu>
    <userMenu v-if="$auth.user().role == 'User'"></userMenu>

    <v-list-tile v-if="!$auth.check()" :to="{name: 'login'}">
      <v-list-tile-action>
        <v-icon>exit_to_app</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Login</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>

    <v-list-tile v-if="$auth.check()" @click.prevent="$auth.logout({redirect: '/login'})">
      <v-list-tile-action>
        <v-icon>meeting_room</v-icon>
      </v-list-tile-action>

      <v-list-tile-content>
        <v-list-tile-title>Logout</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</template>

<script>
import superAdminMenu from "@/js/layouts/menus/SuperAdminMenu";
import userMenu from "@/js/layouts/menus/UserMenu";
import adminMenu from "@/js/layouts/menus/AdminMenu";

export default {
  name: "Menu",
  components: {
    superAdminMenu,
    userMenu,
    adminMenu,
  },
  data() {
    return {};
  },
  filters: {},
  watch: {},
  methods: {},
  computed: {},
  mounted() {

  }
};
</script>